<div class="container-fluid" style="background-color: #f6edf0">
  <div
    class="d-flex flex-column justify-content-center align-items-center justify-content-lg-around p-3 flex-md-column flex-lg-row border-bottom"
  >
    <h5>Subscribe to our newsletter</h5>
    <div>
      <input type="search" placeholder="Your email addess..." />
      <button class="bg-black text-white">SUBSCRIBE</button>
    </div>
  </div>
  <div
    class="d-flex flex-column align-items-center justify-content-center flex-md-row pt-2"
  >
    <h5 class="align-self-center lh-1">
      freakyfashion <br />
      <p class="fw-light" style="font-size: x-small">Beauty Store</p>
    </h5>
    <div
      class="d-flex flex-column align-items-center justify-content-center flex-md-row justify-content-md-around flex-md-grow-1"
    >
      <ul class="list-unstyled">
        <li>Shop All</li>
        <li>Nail Care</li>
        <li>Skin Care</li>
        <li>Lip Care</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
      <ul class="list-unstyled">
        <li>Refund Policy</li>
        <li>Terms & Conditions</li>
        <li>FAQ</li>
        <li>Privacy Policy</li>
      </ul>
      <ul class="list-unstyled d-flex gap-2 align-self-center">
        <a href="#" class="me-3"
          ><i class="bi bi-facebook fs-4 text-primary"></i
        ></a>
        <a href="#" class="me-3"
          ><i class="bi bi-instagram fs-4 text-danger"></i
        ></a>
        <a href="#"><i class="bi bi-twitter fs-4 text-info"></i></a>
      </ul>
    </div>
  </div>
  <!-- <hr /> -->
  <p class="text-center border-top pt-2 pb-2 m-0">
    Copyright © 2025 Be Bold | Powered by By freakyfashion
  </p>
</div>
