<div class="container mt-5 mb-5">
  <h2 class="mb-4">Your Shopping Cart</h2>

  <div class="row">
    <!-- Cart items -->
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title"
            *ngIf="cartProducts.length > 0; else elseBlock"
          >
            Items in Cart
          </h4>
          <ng-template #elseBlock
            ><a
              class="text-decoration-none text-black fw-bold fs-5 text-center"
              routerLink="/"
              >Back to Shopping <i class="bi bi-arrow-right-circle"></i
            ></a>
          </ng-template>
          <!-- Cart item -->
          <div
            class="row mb-3 border-bottom pb-3"
            *ngFor="let product of cartProducts"
          >
            <div class="col-3">
              <img
                [src]="product.image"
                class="img-fluid"
                alt="Product Image"
              />
            </div>
            <div class="col-6">
              <h5 [routerLink]="['/products', product.product_id]">
                {{ product.name }}
              </h5>
              <p>{{ product.category }}</p>
            </div>
            <div class="col-3 text-end">
              <span class="d-block mb-2">Price: {{ product.price }} SEK</span>
              <label for="quantity" class="form-label">Quantity</label>
              <input
                type="number"
                id="quantity"
                class="form-control w-50"
                [(ngModel)]="product.quantity"
                (change)="updateCart(product)"
                min="1"
              />

              <!-- Delete Icon -->
              <button
                class="btn btn-danger mt-2"
                (click)="removeItemFromCart(product.id, product.name)"
              >
                <i class="bi bi-trash3"></i> Remove
              </button>
            </div>
          </div>

          <!-- Repeat Cart items as necessary -->
        </div>
      </div>
    </div>

    <!-- Order Summary -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Order Summary</h4>
          <ul class="list-unstyled">
            <li class="d-flex justify-content-between">
              <span>Subtotal</span>
              <span>SEK {{ total }}</span>
            </li>
            <li class="d-flex justify-content-between">
              <span>Tax (5%)</span>
              <span>SEK {{ (total * 0.05).toFixed(2) }}</span>
            </li>
            <li class="d-flex justify-content-between">
              <span><strong>Total</strong></span>
              <span
                ><strong>SEK {{ (total * 1.05).toFixed(2) }}</strong></span
              >
            </li>
          </ul>
          <button routerLink="/check-out" class="btn btn-dark w-100 mt-3">
            Proceed to Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="toast-container position-fixed bottom-0 end-0 p-3"
    style="z-index: 1055"
  >
    <div
      *ngIf="message"
      class="toast align-items-center text-bg-success border-0 show"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          (click)="message = ''"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
