<div
  class="d-flex flex-column flex-md-row gap-4 m-3 align-items-center justify-content-center"
>
  <div class="bg-image text-white d-flex justify-content-center first-image">
    <div class="hero-content">
      <h6>new collections</h6>
      <h1>Awesome Makeup Kit Gift Sets</h1>
      <p class="fw-bold">Find your unique style.</p>
      <button class="border p-2">SHOP NOW</button>
    </div>
  </div>
  <div class="bg-image text-white d-flex justify-content-center second-image">
    <div class="hero-content">
      <h6>new collections</h6>
      <h1>The Ultimate Skincare Regime</h1>
      <p class="fw-bold">Find your unique style.</p>
      <button class="border p-2">SHOP NOW</button>
    </div>
  </div>
</div>
