<div class="d-flex flex-column flex-md-row min-vh-100">
  <app-sidebar />

  <div class="flex-grow-1 py-3 px-5">
    <div class="d-flex justify-content-between py-3">
      <h3>Products</h3>
      <button
        class="btn btn-success"
        routerLink="/admin/newProduct"
        routerLinkActive="active"
      >
        New Products
      </button>
    </div>

    <table class="table table-hover table-striped-columns">
      <thead>
        <tr>
          <th scope="col">Sl No.</th>
          <th scope="col">Name</th>
          <th scope="col">SKU</th>
          <th scope="col">Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let product of products; let i = index">
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.sku }}</td>
          <td>{{ product.price }} Sek</td>
          <td class="text-center">
            <i class="bi bi-trash3" (click)="handleDelete(product.id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="toast-container position-fixed bottom-0 end-0 p-3"
    style="z-index: 1055"
  >
    <div
      *ngIf="message"
      class="toast align-items-center text-bg-success border-0 show"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          (click)="message = ''"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
