<div>
  <div class="text-center mt-3" *ngIf="!isFiltered">
    <p>POPULAR PRODUCTS</p>
    <h2 class="fs-1">Trending Now</h2>
  </div>
  <div
    class="text-center mt-3"
    *ngIf="isFiltered && filteredProducts.length > 0"
  >
    <h3>{{ filteredProducts.length }} Products Found</h3>
  </div>
  <h2
    *ngIf="isFiltered && filteredProducts.length === 0"
    class="fs-1 text-center mt-3"
  >
    No Products Found
  </h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 m-2">
    <div class="col" *ngFor="let product of filteredProducts">
      <div class="card">
        <span
          *ngIf="product.isNew"
          class="badge rounded-pill text-bg-light position-absolute"
          >New</span
        >
        <span class="likes text-white position-absolute hover-zoom"
          ><i class="bi bi-suit-heart fs-4"></i
        ></span>
        <img
          [src]="product.image + '&w=400&h=400&fit=crop'"
          class="card-img-top card-image"
          [alt]="product.name"
        />
        <div class="card-body">
          <h5 class="card-title cursor-pointer">
            <a
              class="cursor-pointer text-decoration-none text-black"
              [routerLink]="['/products', product.id]"
              >{{ product.name }}</a
            >
          </h5>
          <p class="card-text">{{ product.price }} Sek</p>
          <div>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
