<div>
  <div class="text-center mt-3" *ngIf="!isFiltered">
    <p>POPULAR PRODUCTS</p>
    <h2 class="fs-1">Trending Now</h2>
  </div>
  <div
    class="text-center mt-3"
    *ngIf="isFiltered && filteredProducts.length > 0"
  >
    <h3>{{ filteredProducts.length }} Products Found</h3>
  </div>
  <h2
    *ngIf="isFiltered && filteredProducts.length === 0"
    class="fs-1 text-center mt-3"
  >
    No Products Found
  </h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3 m-2">
    <div class="col" *ngFor="let product of filteredProducts">
      <div class="card h-100">
        <span
          *ngIf="product.isNew"
          class="badge rounded-pill text-bg-light position-absolute"
          >New</span
        >

        <img
          [src]="product.image + '&w=400&h=400&fit=crop'"
          class="card-img-top card-image"
          [alt]="product.name"
        />
        <span class="likes text-white position-absolute hover-zoom"
          ><i class="bi bi-suit-heart-fill"></i>
        </span>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title cursor-pointer">
            <a
              class="cursor-pointer text-decoration-none text-black"
              [routerLink]="['/products', product.id]"
              >{{ product.name }}</a
            >
          </h5>
          <p class="card-text mb-0">{{ product.price }} Sek</p>
          <div>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          <div
            class="text-center rounded-5 mt-1 cart"
            (click)="addProductToCart(product.id)"
          >
            <span class="text-white hover-zoom"><i class="bi bi-bag"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="toast-container position-fixed bottom-0 end-0 p-3"
    style="z-index: 1055"
  >
    <div
      *ngIf="message"
      class="toast align-items-center text-bg-success border-0 show"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          (click)="message = ''"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>
