.card-image {
  height: 400px;
  object-fit: fill;
  width: 100%;
}
.badge {
  left: 1em;
  top: 1em;
}
.likes {
  right: 1em;
  bottom: 11em;
  cursor: pointer;
}
.likes:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
  .bi {
    color: #3f0091;
  }
}
.cart {
  background-color: #9a77c8;
  width: 100%;
  cursor: pointer;
}
.cart:hover {
  background-color: #844ad0;
}
